h1 {
    font-size: 60px;
}
nav {
    background: black;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.nav-button {
    background: orange;
    padding: 10px;
    border-radius: 50px;
    transition: 0.3s;
 
}
.logo {
    color: orange;
    font-weight: 700;
    font-size: 20px;
}
.navlinks {
    display: flex;
    gap: 5px;
}
.navlinks a {
    color: white;
    text-decoration: none;
}
.navlinks a:hover {
    color: yellow;
}
.nav-button:hover {
    background: lightgray;
}
.rule-button {
    background: red;
    padding: 10px;
    border-radius: 360px;
    transition: 1s;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid black;
}
.rule-button:hover {
    background: green;
}
.shop-button {
    transition: 2s;
}
    
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(red, blue);
}
.hero {
    padding: 80px 20px;
    text-align: center;
}
.hero p {
    font-size: 18px;
    line-height: 1;
    max-width: 700px;
}
@media (max-width: 600px) {

    .logo {
        font-size: 18px;
    }
    nav {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
    }

}
