h1 {
    font-size: 60px;
}
nav {
    background: black;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 15px;
}
.buy-button {
    background: white;
    padding: 10px;
}
.logo {
    color: orange;
}
.navlinks {
    display: flex;
}
.navlinks a {
    color:white;
    text-decoration: none;
}
.navlinks a:hover {
    color: yellow;
}
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(red, blue);
}
