h1 {
    font-size: 60px;
}
nav {
    background: black;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    padding: 10px;
}
.buy-button {
    background: orange;
    padding: 10px;
    border-radius: 5px
    font-weight: 700;
}
.logo {
    color: orange;
}
.navlinks {
    display: flex;
}
.navlinks a {
    color: white;
    text-decoration: none;
}
.navlinks a:hover {
    color: yellow;
}
.buy-button:hover {
    background: lightgray;
}
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(red, blue);
}
